@import '../variables.scss';
@import '../animations.scss';
@import '../theming/themify.scss';

.about {
  padding: 5rem 0;
  .about__container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    @media (max-width: 118.75rem) {
      width: 75%;
    }
    @media (max-width: 106.25rem) {
      width: 80%;
    }
    @media (max-width: 93.75rem) {
      width: 90%;
    }
    @media (max-width: 68.75rem) {
      width: 100%;
    }
    @media (max-width: 62.5rem) {
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .about__picture-container {
      margin-right: 5rem;
      margin-bottom: 2rem;
      .about__picture-frame {
        padding: 1rem;
        border-radius: 1rem;
        @include themify($themes) {
          background: linear-gradient(
            -45deg,
            themed('portfolio-item-lower-bottom') 0%,
            themed('portfolio-item-lower-bottom') 15%,
            themed('portfolio-item-lower-top') 15%,
            themed('portfolio-item-upper-bottom') 70%,
            themed('portfolio-item-upper-top') 70%,
            themed('portfolio-item-upper-top') 100%
          )
        }
        .about__profile-picture {
          width: 14.5rem;
          border-radius: 5%;
        }
      }
    }
    .about__text-container {
      width: 100%;
      h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: 0.09375rem;
        margin-bottom: 1.75rem;
        margin-top: 0;
        height: 1.8rem;
      }
      h4 {
        font-weight: 400;
        font-size: 1.3rem;
        letter-spacing: 0.0625rem;
        margin: 3rem 0 2rem 0;
      }
      p {
        font-size: 1rem;
        line-height: 2.5rem;
        font-weight: 300;
      }
    }
  }

}