@import '../variables.scss';
@import '../animations.scss';

.banner {
  display: flex;
  align-items: center;
  background-color: $off-white;
  position: relative;
  height: 100vh;
  text-align: center;
  .row {
    position: relative;
    width: 100%;
    overflow: hidden;
    .main-text {
      display: inline-flex;
      white-space: nowrap;
      font-size: 5.8rem;
      text-transform: uppercase;
      letter-spacing: 42px;
      font-weight: 300;
      color: $off-white;
      position: relative;
      top: 50%;
      mix-blend-mode: difference;
      z-index: 12;
      @media (max-width: 1750px) {
        font-size: 4.4rem;
        letter-spacing: 36px;
      }
      @media (max-width: 1500px) {
        font-size: 3.8rem;
        letter-spacing: 30px;
      }
      @media (max-width: 1250px) {
        font-size: 3.2rem;
        letter-spacing: 24px;
      }
      @media (max-width: 1000px) {
        font-size: 2.6rem;
        letter-spacing: 18px;
      }
      @media (max-width: 750px) {
        font-size: 2rem;
        letter-spacing: 12px;
      }
      @media (max-width: 500px) {
        font-size: 1.7rem;
        letter-spacing: 4px;
      }
      @media (max-width: 250px) {
        font-size: 0.8rem;
        letter-spacing: 4px;
      }
    }
    .fade-in {
      height: 100%;
      width: calc(100vw - 30vw);
      position: absolute;
      .float {
        position: absolute;
        height: 100%;
        width: 100%;
        .draw-triangle {
          position: absolute;
          width: 300px;
          bottom: 150px;
          left: 100px;
          fill: transparent;
          stroke-dasharray: 900;
          stroke-dashoffset: 900;
          stroke: $dark-blue;
          stroke-width: 1.5px;
          overflow: visible;
          @media (max-width: 1750px) {
            stroke-dasharray: 775;
            stroke-dashoffset: 775;
            width: 260px;
          }
          @media (max-width: 1500px) {
            width: 220px;
            stroke-dashoffset: 660;
            stroke-dasharray: 660;
          }
          @media (max-width: 1250px) {
            stroke-dashoffset: 540;
            stroke-dasharray: 540;
            bottom: 100px;
            left: 25px;
            width: 180px;
          }
          @media (max-width: 1000px) {
            stroke-dashoffset: 417;
            stroke-dasharray: 417;
            bottom: 70px;
            width: 140px;
          }
          @media (max-width: 750px) {
            stroke-dashoffset: 358;
            stroke-dasharray: 358;
            bottom: 65px;
            width: 120px;
          }
          @media (max-width: 500px) {
            stroke-dashoffset: 298;
            stroke-dasharray: 298;
            left: 0px;
            bottom: 60px;
            width: 100px;
          }
          @media (max-width: 250px) {
            width: 20px;
          }
        }
      }
    }
  }
  
  .scroll::before {
    
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background: $dark-blue;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
    left: 50%
  }
  .scroll {
    position: absolute;
    bottom: 48px;
    width: 40px;
    height: 70px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px $dark-blue;
    border-radius: 25px;
    left: 50%
  }
  
  .fixed-misc {
    position: relative;
    white-space: nowrap;
    transform: rotate(-90deg);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: $off-white;
    mix-blend-mode: difference;
    z-index: 8;
    @media (max-width: 1440px) {
      right: -112px;
    }
  }
}