@import "../variables.scss";
@import "../animations.scss";
@import "../theming/themify.scss";

.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  text-align: center;
  .row {
    position: relative;
    width: 100%;
    overflow: hidden;
    .main-text {
      display: inline-flex;
      white-space: nowrap;
      font-size: 5.8rem;
      text-transform: uppercase;
      letter-spacing: 2.625rem;
      font-weight: 300;
      color: transparent;
      position: relative;
      top: 50%;
      mix-blend-mode: difference;
      z-index: 12;
      @media (max-width: 109.375rem) {
        font-size: 4.4rem;
        letter-spacing: 2.25rem;
      }
      @media (max-width: 93.75rem) {
        font-size: 3.8rem;
        letter-spacing: 1.875rem;
      }
      @media (max-width: 78.125rem) {
        font-size: 3.2rem;
        letter-spacing: 1.5rem;
      }
      @media (max-width: 62.5rem) {
        font-size: 2.6rem;
        letter-spacing: 1.125rem;
      }
      @media (max-width: 46.875rem) {
        font-size: 2rem;
        letter-spacing: 0.75rem;
      }
      @media (max-width: 31.25rem) {
        font-size: 1.7rem;
        letter-spacing: 0.25rem;
      }
      @media (max-width: 15.625rem) {
        font-size: 0.8rem;
        letter-spacing: 0.25rem;
      }
    }
    .float-container {
      width: calc(100vw - 30vw);
      position: absolute;
      height: 100%;
      animation: 96s infinite Floating linear;
      .draw-triangle {
        position: absolute;
        width: 18.75rem;
        bottom: 9.375rem;
        left: 6.25rem;
        fill: transparent;
        stroke-dasharray: 900;
        stroke-dashoffset: 900;
        @include themify($themes) {
          stroke: themed("tri-fill");
          fill: themed("tri-fill");
        }
        stroke-width: 0.09375rem;
        overflow: visible;
        -webkit-animation: fadeIn ease-out 8s, drawTriangle 3s, triangleFill 1.4s linear 3s forwards,
          48s infinite Spinning linear;
        animation: fadeIn ease-out 8s, drawTriangle 3s, triangleFill 1.4s linear 3s forwards,
          48s infinite Spinning linear;
        @media (max-width: 109.375rem) {
          stroke-dasharray: 775;
          stroke-dashoffset: 775;
          width: 16.25rem;
        }
        @media (max-width: 93.75rem) {
          width: 13.75rem;
          stroke-dashoffset: 660;
          stroke-dasharray: 660;
        }
        @media (max-width: 78.125rem) {
          stroke-dashoffset: 540;
          stroke-dasharray: 540;
          bottom: 6.25rem;
          left: 1.5625rem;
          width: 11.25rem;
        }
        @media (max-width: 62.5rem) {
          stroke-dashoffset: 417;
          stroke-dasharray: 417;
          bottom: 4.375rem;
          width: 8.75rem;
        }
        @media (max-width: 46.875rem) {
          stroke-dashoffset: 358;
          stroke-dasharray: 358;
          bottom: 4.0625rem;
          width: 7.5rem;
        }
        @media (max-width: 31.25rem) {
          stroke-dashoffset: 298;
          stroke-dasharray: 298;
          left: 0;
          bottom: 3.75rem;
          width: 6.25rem;
        }
        @media (max-width: 15.625rem) {
          width: 0.078125rem;
        }
      }
    }
  }

  .scroll::before {
    position: absolute;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background: $dark-blue;
    margin-left: -0.25rem;
    top: 0.5rem;
    border-radius: 0.25rem;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
    left: 50%;
  }
  .scroll {
    position: absolute;
    bottom: 3rem;
    width: 2.5rem;
    height: 4.375rem;
    margin-top: -2.1875rem;
    box-shadow: inset 0 0 0 0.0625rem $dark-blue;
    border-radius: 1.5625rem;
    left: 50%;
  }

  .fixed-misc {
    position: relative;
    white-space: nowrap;
    transform: rotate(-90deg);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.09375rem;
    // color: $off-white;
    mix-blend-mode: difference;
    z-index: 8;
    @media (max-width: 90rem) {
      right: -7rem;
    }
  }
  .scroll-label {
    position: absolute;
    bottom: 9%;
    left: 0;
    background-color: transparent;
    border: none;
    letter-spacing: 0.109375rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    @include themify($themes) {
      color: themed("text");
    }
    span {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      margin-top: 1.25rem;
      margin-left: 0.9375rem;
      @include themify($themes) {
        border-left: 0.0625rem solid themed("text");
        border-bottom: 0.0625rem solid themed("text");
      }
      border-left: 0.0625rem solid $black;
      border-bottom: 0.0625rem solid $black;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: scroll-animation 1.5s infinite;
      animation: scroll-animation 1.5s infinite;
      box-sizing: border-box;
    }
  }
}
