@import "../variables.scss";
@import '../animations.scss';

header {
  height: 80px;
  position: fixed;
  top: 0;
  width: calc(100% - 10%);
  z-index: 10;
  background-color: $off-white;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    .logo {
      button {
        position: relative;
        z-index: 11;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 1.5px;
        color: $white;
        mix-blend-mode: difference;
        border: none;
        cursor: pointer;
        padding: 0;
        font-size: 1rem;
        font-family: $font;
        background-color: transparent;
        &:focus {
          outline: none;
        }
      }
    }
    .navigation {
      nav {
        overflow: hidden;
        button,
        a {
          overflow: hidden;
          padding: 0 4px;
          height: 1em;
          margin: 0 20px;
          text-decoration: none;
          letter-spacing: 1.75px;
          text-transform: uppercase;
          font-size: 0.75rem;
          color: $black;
          border: none;
          cursor: pointer;
          background-color: transparent;
          padding: 0;
          &:last-child {
            margin-right: 0px;
          }
          &:focus {
            outline: none;
          }
          span {
            position: relative;
            display: inline-block;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
          }
          span::before {
            position: absolute;
            top: 100%;
            content: attr(data-hover);
            font-weight: 700;
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
          }
          &:hover span {
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            transform: translateY(-100%);
          }
        }
        a {
          margin-left: 0;
        }
      }
      @media (max-width: 750px) {
        display: none !important;
      }
    }
    // Hamburger menu formatting
    .menu-container {
      display: none;
      @media (max-width: 750px) {
        display: block !important;
      }
      .menu {
        z-index: 2;
        position: absolute;
        right: 0%;
        bottom: 0.8rem;
        width: 35px;
        height: 30px;
        cursor: pointer;
        margin-right: 0;
        .bar {
          height: 5px;
          width: 100%;
          display: block;
          border-radius: 5px;
          background-color: $black;
          transition: 0.3s;
        }
        #bar1 {
          transform: translateY(-4px);
        }
        #bar3 {
          transform: translateY(4px);
        }
      }
      .menu-items {
        z-index: 2;
        padding: 0;
        position: absolute;
        right: 9%;
        margin-top: 4rem;
        transition: 0.3s;
        letter-spacing: 1px;
        display: none;
      }
      .menu-items li {
        list-style: none;
        padding: 1rem 0;
      }
      .menu-items li button,
      a {
        text-decoration: none;
        color: $off-white;
        background-color: transparent;
        border: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: $font;
        font-size: 1rem;
        padding: 0;
        transition: 9s;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
      .menu-bubble {
        z-index: 1;
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        background: $dark-blue;
        border-radius: 50%;
        transition: 0.3s;
        right: 0%;
        margin-top: 2.8rem;
        margin-right: 1.5rem;
        will-change: transform;
        -webkit-transform: translate(60%, -30%);
        transform: translate(60%, -30%);
      }
      .menu-circle {
        width: 480px;
        height: 470px;
      }
      .menu-drape {
        z-index: 0;
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        background: $dark-blue;
        border-radius: 50%;
        right: 0%;
        margin-top: 2.8rem;
        margin-right: 1.5rem;
        will-change: transform;
        -webkit-transform: translate(60%, -30%);
        transform: translate(60%, -30%);
      }
      .change {
        display: block;
      }
      .change .bar {
        background-color: $white;
      }
      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }
      .change #bar3 {
        transform: translateY(-6px) rotate(45deg);
      }
      .change #bar2 {
        opacity: 0;
      }
      .drape {
        width: 2500px;
        height: 2500px;
        background-color: $white;
        opacity: 0.8;
        transition: 1.3s;
      }
    }
  }
}
