@import '../variables.scss';
@import '../animations.scss';

.intro-overlay {
  .top {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 11;
    .overlay-top {
      position: absolute;
      height: 100%;
      width: 20vw;
      background: $dark-blue;
      bottom: 0;
      left: 0;
      right: 0;
      @media(max-width: 46.875rem) {
        width: 100vw;
      }
      &:nth-child(2) {
        left: 20%;
        @media(max-width: 46.875rem) {
          display: none;
        }
      }
      &:nth-child(3) {
        left: 40%;
        @media(max-width: 46.875rem) {
          display: none;
        }
      }
      &:nth-child(4) {
        left: 60%;
        @media(max-width: 46.875rem) {
          display: none;
        }
      }
      &:nth-child(5) {
        left: 80%;
        @media(max-width: 46.875rem) {
          display: none;
        }
      }
    }
  }
}