@import '../variables.scss';
@import '../animations.scss';

.typewriter {
  margin: 0 auto;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $off-white;
  mix-blend-mode: difference;
  .cursor-show {
    margin-left: 0.1em;
    border-left: 0.1em solid $off-white;
    animation: blink 0.7s steps(1) infinite;
  }
  .cursor-hide {
    margin-left: 0.1em;
    border-left: 0.1em solid transparent;
  }
  @media (max-width: 46.875rem) {
    font-size: 1rem;
    letter-spacing: 0.8;
    font-weight: 300;
  }
}