@import '../variables.scss';
@import '../animations.scss';

.portfolio {
  padding: 5rem 0 0 0;
  .portfolio__summary {
    width: 30%;
    h3 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.8rem;
      letter-spacing: 0.09375rem;
      margin: 0;
      height: 1.8rem;
    }
    p {
      font-size: 1rem;
      line-height: 2rem;
      font-weight: 300;
      margin: 2.5rem 0 4.5rem;
    }
    .btn-row {
      a {
        font-weight: 700;
        font-size: 0.875rem;
        letter-spacing: 0.09375rem;
        color: $black;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    @media (max-width: 125rem) {
      width: 40%;
    }
    @media (max-width: 93.75rem) {
      width: 50%;
    }
    @media (max-width: 75rem) {
      width: 60%;
    }
    @media (max-width: 56.25rem) {
      width: 70%;
    }
    @media (max-width: 46.875rem) {
      width: 80%;
    }
    @media (max-width: 40.625rem) {
      width: 90%;
    }
    @media (max-width: 28.75rem) {
      width: 100%;
    }
    @media (max-width: 25.875rem) {
      h3 {
        width: 62%;
      }
    }
    @media (max-width: 25rem) {
      h3 {
        width: 67%;
      }
    }
    @media (max-width: 20rem) {
      h3 {
        width: 80%;
      }
    }
  }
  .portfolio__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    @media(max-width: 62.5rem) {
      flex-direction: column;
      align-items: center;
      width: 70%;
    }
    @media(max-width: 37.5rem) {
      width: 80%;
    }
    @media(max-width: 31.25rem) {
      width: 100%;
    }
  }
}