@import '../variables.scss';
@import '../animations.scss';
@import '../theming/themify.scss';

.portfolio__item {
  border-radius: 1.2rem;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12), 0 0.0625rem 0.125rem rgba(0,0,0,0.24);
  position: relative;
  margin-bottom: 10%;
  width: 42.5%;
  &:first-child {
    margin-top: 0;
  }
  &:nth-child(2n - 1) {
    margin-right: 15%;
  }
  // Can uncomment below if zig-zag project display is desired.
  // &:nth-child(2n) {
  //   // transform: translateY(10%);
  // }
  @media(max-width: 62.5rem) {
    &:nth-child(2n - 1) {
      margin-right: 0;
    }
    width: 100%;
    // &:nth-child(2n) {
    //   transform: translateY(0);
    // }
  }
  @media (max-width: 31.25rem) {
    box-shadow: none;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.075rem;
    margin-top: 0;
  }
  p {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
  }
  .portfolio__item-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    .portfolio__item-image-container {
      padding: 5% 5% 5% 5%;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      @include themify ($themes) {
        background: linear-gradient(
          -45deg, 
          themed('portfolio-item-upper-bottom') 0%,
          themed('portfolio-item-upper-bottom') 70%,
          themed('portfolio-item-upper-top') 70%,
          themed('portfolio-item-upper-top') 100% 
        );
      }
      .portfolio__item-image {
        border-radius: 1rem;
        opacity: 0;
      }
    }
    .portfolio__item-text-container {
      height: 100%;
      padding: 0 5% 5% 5%;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      @include themify ($themes) {
        background: linear-gradient(
          -45deg, 
          themed('portfolio-item-lower-bottom') 0%,
          themed('portfolio-item-lower-bottom') 20%,
          themed('portfolio-item-lower-top') 20%,
          themed('portfolio-item-lower-top') 100% 
        );
      }
      .portfolio__item-bottom{
        height: 100%;
        border-radius: 1rem;
        opacity: 0;
        @include themify($themes) {
          background-color: themed('portfolio-item-lower-bg');
        }
        .portfolio__item-bottom-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: calc(100% - 2.75rem);
          padding: 2rem 2rem .75rem 2rem;
          border-radius: 1rem;
          .portfolio__item-button-wrapper {
            display: flex;
            flex-wrap: wrap;
            .portfolio__item-button {
              @include themify($themes) {
                color: themed('button-text');
                border: 0.0625rem solid themed('border');
                transition: themed('theme-transition');
                background: linear-gradient(
                  -45deg,
                  themed('button-text') 50%,
                  transparent 50%
                );
                background-position: left top;
                background-size: 270% 100%;
              }
              letter-spacing: 0.109375rem;
              text-transform: uppercase;
              border-radius: 0.3rem;
              padding: 0.5rem;
              margin-right: 1.25rem;
              text-decoration: none;
              font-size: 0.75rem;
              margin-bottom: 1.25rem;
              &:last-child {
                margin-right: 0;
              }
            }
            .portfolio__item-button:hover {
              background-position: right bottom;
              @include themify($themes) {
                color: themed('button-text-hover')
              }
              color: $white;
              cursor: pointer;
            }
            .portfolio__item-button:focus {
              outline: 0;
            }
          }
        }
      }
    }
  }
}