@import '../variables.scss';

// LIGHT MODE

// background colors
$bg--light: $off-white;
// text colors
$text--light: $black;
$button-text--light: $dark-blue;
$button-text-hover--light: $white;
// border colors
$border--light: $dark-blue;
// menu colors
$menu-bar--light: $black;
// portfolio item colors
$portfolio-item-upper-top--light: $pink;
$portfolio-item-upper-bottom--light: $dark-blue;
$portfolio-item-lower-bg--light: $off-white;
$portfolio-item-lower-top--light: $dark-blue;
$portfolio-item-lower-bottom--light: $medium-blue;
// triangle colors
$tri-fill--light: $dark-blue;

// DARK MODE

// background colors
$bg--dark: $dark-blue;
// text colors
$text--dark: $off-white;
$button-text--dark: $pink;
$button-text-hover--dark: $black;
// border colors
$border--dark: $pink;
// menu colors
$menu-bar--dark: $pink;
// portfolio item colors
$portfolio-item-upper-top--dark: $light-blue;
$portfolio-item-upper-bottom--dark: $medium-blue;
$portfolio-item-lower-bg--dark: $dark-blue;
$portfolio-item-lower-top--dark: $medium-blue;
$portfolio-item-lower-bottom--dark: $medium-blue;
// triangle colors:
$tri-fill--dark: $off-white;