@import '../variables.scss';

// LIGHT MODE

// background colors
$bg--light: $off-white;
// text colors
$text--light: $black;
$button-text--light: $dark-blue;
$button-text-hover--light: $white;
// border colors
$border--light: $dark-blue;
// menu colors
$menu-bar--light: $black;
// portfolio item colors
$portfolio-item-bottom-bg--light: $off-white;
// triangle colors
$tri-fill--light: $dark-blue;

// DARK MODE

// background colors
$bg--dark: $medium-blue;
// text colors
$text--dark: $pink;
$button-text--dark: $pink;
$button-text-hover--dark: $black;
// border colors
$border--dark: $pink;
// menu colors
$menu-bar--dark: $pink;
// portfolio item colors
$portfolio-item-bottom-bg--dark: lighten($dark-blue, 3%);
// triangle colors:
$tri-fill--dark: $off-white;