@import './variables.scss';
@import './theming/themify.scss';

@keyframes Floating {
  from {
    transform: translatey(-100%);
  }
  50% {
    transform: translateX(95%) translatey(200%);
  }
  to {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes Floating {
  from {
    -webkit-transform: translatey(-100%);
  }
  50% {
    -webkit-transform: translateX(100%) translatey(200%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes Spinning {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;

  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes scroll-animation {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scroll-animation {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes triangleFill {
  0% {
    fill: transparent;
  }
  100% {
    fill: inherit;
  }
}
