$font: "Helevetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

//Colors
$dark-blue: #023440;
$medium-blue: #154b59;
$light-blue: #8aa6bf;
$pink: rgb(253, 203, 191);
$violet: #a6467a;
$light-orange: #f25e7a;
$neon-red: #ce0057;
$white: #fff;
$off-white: #f2f4f5;
$black: #000;

//Padding
$main-padding: 5%;

html,
body {
  visibility: hidden;
  font-family: $font;
  font-size: 16px;
  background-color: $off-white;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  position: relative;
  .content-wrapper {
    padding: 0% 5%;
    padding-bottom: 100px;
  }
}

// Header
header {
  height: 80px;
  position: fixed;
  top: 0;
  width: calc(100% - 10%);
  z-index: 10;
  background-color: $off-white;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    .logo {
      button {
        position: relative;
        z-index: 11;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 1.5px;
        color: $white;
        mix-blend-mode: difference;
        margin-left: 1.5rem;
        border: none;
        cursor: pointer;
        padding: 0;
        font-size: 1rem;
        font-family: $font;
        background-color: transparent;
        &:focus {
          outline: none;
        }
      }
      .logo-triangle {
        position: absolute;
        z-index: 10;
        width: 4rem;
        left: 16px;
        bottom: 11px;
        fill: transparent;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        stroke: $dark-blue;
        stroke-width: 1.5px;
        overflow: visible;
        transform: rotate(90deg);
      }
    }
    .navigation {
      nav {
        button {
          margin: 0 20px;
          text-decoration: none;
          letter-spacing: 1.75px;
          text-transform: uppercase;
          font-size: 0.75rem;
          color: $black;
          border: none;
          cursor: pointer;
          background-color: transparent;
          padding: 0;
          &:last-child {
            margin-right: 0px;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
    // Hamburger menu formatting
      .menu {
        z-index: 2;
        position: absolute;
        right: 0%;
        bottom: .8rem;
        width: 35px;
        height: 30px;
        cursor: pointer;
        margin-right: 0;
        .bar {
          height: 5px;
          width: 100%;
          display: block;
          border-radius: 5px;
          background-color: $black;
          transition: 0.3s;
        }
        #bar1 {
          transform: translateY(-4px);
        }
        #bar3 {
          transform: translateY(4px);
        }
      }
      .menu-items {
        z-index: 2;
        padding: 0;
        position: absolute;
        right: 9%;
        margin-top: 4rem;
        transition: 0.3s;
        letter-spacing: 1px;
        display: none;
      }
      .menu-items li {
        list-style: none;
        padding: 1rem 0;
      }
      .menu-items li button{
        text-decoration: none;
        color: $off-white;
        background-color: transparent;
        border: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: $font;
        font-size: 1rem;
        padding: 0;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
      .menu-bubble {
        z-index: 1;
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        background: $dark-blue;
        border-radius: 50%;
        transition: 0.3s;
        right: 0%;
        margin-top: 2.8rem;
        margin-right: 1.5rem;
        will-change: transform;
        -webkit-transform: translate(60%, -30%);
        transform: translate(60%, -30%);
      }
      .menu-circle {
        width: 480px;
        height: 470px;
      }
      .menu-drap {
        z-index: 0;
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        background: $dark-blue;
        border-radius: 50%;
        right: 0%;
        margin-top: 2.8rem;
        margin-right: 1.5rem;
        will-change: transform;
        -webkit-transform: translate(60%, -30%);
        transform: translate(60%, -30%);
      }
      .change {
        display: block;
      }
      .change .bar {
        background-color: $white;
      }
      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }
      .change #bar3 {
        transform: translateY(-6px) rotate(45deg);
      }
      .change #bar2 {
        opacity: 0;
      }.drap {
        width: 2500px;
        height: 2500px;
        background-color: $white;
        opacity: .8;
        transition: 1.3s;
      }
    }
}

// Intro Overlay
.intro-overlay {
  .top {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 11;
    .overlay-top {
      position: absolute;
      height: 100%;
      width: 20vw;
      background: $dark-blue;
      bottom: 0;
      left: 0;
      right: 0;
      @media(max-width: 750px) {
        width: 100vw;
      }
      &:nth-child(2) {
        left: 20%;
        @media(max-width: 750px) {
          display: none;
        }
      }
      &:nth-child(3) {
        left: 40%;
        @media(max-width: 750px) {
          display: none;
        }
      }
      &:nth-child(4) {
        left: 60%;
        @media(max-width: 750px) {
          display: none;
        }
      }
      &:nth-child(5) {
        left: 80%;
        @media(max-width: 750px) {
          display: none;
        }
      }
    }
  }
}

// Banner
.banner {
  display: flex;
  align-items: center;
  background-color: $off-white;
  position: relative;
  height: 100vh;
  text-align: center;
  .row {
    position: relative;
    width: 100%;
    overflow: hidden;
    .main-text {
      display: inline-flex;
      white-space: nowrap;
      font-size: 5.8rem;
      text-transform: uppercase;
      letter-spacing: 42px;
      font-weight: 300;
      color: $off-white;
      position: relative;
      top: 50%;
      mix-blend-mode: difference;
      z-index: 12;
      @media (max-width: 1750px) {
        font-size: 4.4rem;
        letter-spacing: 36px;
      }
      @media (max-width: 1500px) {
        font-size: 3.8rem;
        letter-spacing: 30px;
      }
      @media (max-width: 1250px) {
        font-size: 3.2rem;
        letter-spacing: 24px;
      }
      @media (max-width: 1000px) {
        font-size: 2.6rem;
        letter-spacing: 18px;
      }
      @media (max-width: 750px) {
        font-size: 2rem;
        letter-spacing: 12px;
      }
      @media (max-width: 500px) {
        font-size: 1.7rem;
        letter-spacing: 4px;
      }
      @media (max-width: 250px) {
        font-size: 0.8rem;
        letter-spacing: 4px;
      }
    }
    .fade-in {
      height: 100%;
      width: calc(100vw - 30vw);
      position: absolute;
      .float {
        position: absolute;
        height: 100%;
        width: 100%;
        .draw-triangle {
          position: absolute;
          width: 300px;
          bottom: 150px;
          left: 100px;
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          fill: transparent;
          stroke: $dark-blue;
          stroke-width: 1.5px;
          overflow: visible;
          @media (max-width: 1750px) {
            width: 260px;
          }
          @media (max-width: 1500px) {
            width: 220px;
          }
          @media (max-width: 1250px) {
            bottom: 100px;
            left: 25px;
            width: 180px;
          }
          @media (max-width: 1000px) {
            bottom: 70px;
            width: 140px;
          }
          @media (max-width: 750px) {
            bottom: 60px;
            width: 100px;
          }
          @media (max-width: 500px) {
            left: 0px;
            bottom: 50px;
            width: 100px;
          }
          @media (max-width: 250px) {
            width: 20px;
          }
        }
      }
    }
  }
  .scroll {
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1.5px;
    color: $black;
    text-transform: uppercase;
    position: absolute;
    bottom: 48px;
  }
  .fixed-misc {
    position: relative;
    white-space: nowrap;
    transform: rotate(-90deg);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: $off-white;
    mix-blend-mode: difference;
    z-index: 8;
    @media (max-width: 1440px) {
      right: -112px;
    }
  }
}

// Typewriter
.typewriter {
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $off-white;
  mix-blend-mode: difference;
  .cursor {
    margin-left: 0.1em;
    border-left: 0.1em solid $off-white;
    animation: blink 0.7s steps(1) infinite;
  }
}

// Portfolio section
.portfolio {
  padding: 80px 0;
  background: $off-white;
  .portfolio__summary {
    width: 30%;
    h3 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.8rem;
      letter-spacing: 1.5px;
      margin: 0;
    }
    p {
      font-size: 1rem;
      line-height: 2rem;
      font-weight: 300;
      margin: 40px 0 72px;
    }
    .btn-row {
      a {
        font-weight: 700;
        font-size: 0.875rem;
        letter-spacing: 1.5px;
        color: $black;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    @media (max-width: 2000px) {
      width: 40%;
    }
    @media (max-width: 1500px) {
      width: 50%;
    }
    @media (max-width: 1200px) {
      width: 60%;
    }
    @media (max-width: 900px) {
      width: 70%;
    }
    @media (max-width: 750px) {
      width: 80%;
    }
    @media (max-width: 650px) {
      width: 90%;
    }
    @media (max-width: 460px) {
      width: 100%;
    }
  }
  .portfolio__grid {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15%;
    row-gap: 5rem;
    @media (max-width: 1800px) {
      width: 80%;
    }
    @media (max-width: 1400px) {
      width: 90%;
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
    .portfolio__item {
      border-radius: 1.2rem;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: 0.3s;
      background-color: $dark-blue;
      @media (max-width: 500px) {
        box-shadow: none;
      }
      h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 1.2px;
        margin-top: 0;
      }
      p {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 300;
      }
      .portfolio__item-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1rem;
        .portfolio__item-image-container {
          padding: 5% 5% 5% 5%;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          background: linear-gradient(
            -45deg, 
            $dark-blue 0%,
            $dark-blue 70%,
            $pink 70%,
            $pink 100% 
          );
          .portfolio__item-image {
            border-radius: 1rem;
            opacity: 0;
          }
        }
        .portfolio__item-text-container {
          padding: 0 5% 5% 5%;
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
          background: linear-gradient(
            -45deg, 
            $medium-blue 0%,
            $medium-blue 20%,
            $dark-blue 20%,
            $dark-blue 100% 
          );
          .portfolio__item-bottom{
            padding: 2rem 2rem .75rem 2rem;
            border-radius: 1rem;
            opacity: 0;
            background-color: $off-white;
            .portfolio__item-button-wrapper {
              display: flex;
              flex-wrap: wrap;
              .portfolio__item-button {
                border: 1px solid $dark-blue;
                color: $dark-blue;
                border-radius: 0.3rem;
                padding: 0.5rem;
                margin-right: 20px;
                text-decoration: none;
                transition: 0.3s;
                font-size: 1rem;
                background-color: transparent;
                margin-bottom: 20px;
                &:last-child {
                  margin-right: 0;
                }
              }
              .portfolio__item-button:hover {
                background-color: $dark-blue;
                color: $white;
                cursor: pointer;
              }
              .portfolio__item-button:focus {
                outline: 0;
              }
            }
          }
        }
      }
    }
    .portfolio__item:hover {
      box-shadow: 0 7px 14px rgba(32,62,80,0.25), 0 5px 5px rgba(32,62,80,0.22);
      @media (max-width: 500px) {
        box-shadow: none;
      }
    }
  }
}

// Video Modal
.portfolio__item-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  margin: auto;
  transform: translate(-50%, -50%);
  outline: none;
}

.ReactModal__Overlay--after-open {
  z-index: 99;
}

// About
.about {
  padding: 80px 0;
  .about__container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    @media (max-width: 1900px) {
      width: 75%;
    }
    @media (max-width: 1700px) {
      width: 80%;
    }
    @media (max-width: 1500px) {
      width: 90%;
    }
    @media (max-width: 1100px) {
      width: 100%;
    }
    @media (max-width: 1000px) {
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .about__picture-container {
      margin-right: 5rem;
      margin-bottom: 2rem;
      .about__profile-picture {
        width: 230px;
        border-radius: 5%;
      }
    }
    .about__text-container {
      width: 100%;
      h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
        margin-top: 0;
      }
      h4 {
        font-weight: 400;
        font-size: 1.3rem;
        letter-spacing: 1px;
        margin: 0;
      }
      p {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 300;
        margin: 40px 0 72px;
      }
    }
  }

}

// Footer
.footer {
  margin-top: 5rem;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  background-color: $dark-blue;
  color: $white;
  white-space: nowrap;
  .footer__right-content {
    padding-right: 2rem;
  }
  .footer__left-content {
    padding-left: 2rem;
  }
  .footer__icon {
    cursor: pointer;
    margin: 0 30px;
  }
  @media (max-width: 700px) {
    flex-direction: column-reverse;
    .footer__right-content{
      padding-right: 0;
      margin-top: 1rem;
    }
    .footer__left-content {
      padding-left: 0;
    }
    .footer__icon {
      margin: 0 10px;
    }
  }
  
}
@media (max-width: 350px) {
  .footer {
    font-size: .8rem;
  }
}

// Portfolio app styling

// Animations
.float {
  animation: 96s infinite Floating linear;
  //-webkit-animation: 48s infinite Floating ease-in-out;
}

@keyframes Floating {
  from {
    transform: translatey(-100%);
  }
  50% {
    transform: translateX(95%) translatey(200%);
  }
  to {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes Floating {
  from {
    -webkit-transform: translatey(-100%);
  }
  50% {
    -webkit-transform: translateX(100%) translatey(200%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

.spin {
  animation: 48s infinite Spinning linear;
  //-webkit-animation: 20s infinite Spinning ease-in-out;
}

@keyframes Spinning {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.fade-in {
  animation: fadeIn ease-out 8s;
  -webkit-animation: fadeIn ease-out 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;

  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
